body {
    color:white;
    background-color: black;
    margin: epx;
    font-family: "Chakra Petch", sansa-serif;
    margin-bottom: 100px;
}

head {
    borber-bottom: solid 2px rgb(42, 122, 288);
    paddig: 20px;
    color: rgb(42, 122, 288);
}